.HOVER {
    --width: 100%;
    --time: 0.7s;

    position: relative;
    display: inline-block;
    padding: 13px 50px;
    display: inline-block;
    border-radius: 5px;

    color: #f5865d;
    background: #e6e5ea;
    overflow: hidden;
    cursor: pointer;
}

.HOVER text {
    position: relative;
    z-index: 5;

    transition: color var(--time);
}



.HOVER:hover text {
    color: #fff;
}

.HOVER span {
    position: absolute;
    display: block;
    content: "";
    z-index: 0;
    width: 0;
    height: 0;

    border-radius: 100%;
    background: #f5865d;

    transform: translate(-50%, -50%);
    transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
    width: calc(var(--width) * 2.25);
    padding-top: calc(var(--width) * 2.25);
}